.SizeInput {
    width: 100%;
    max-width: 126px;
    display: flex;
    align-items: center;
    cursor: text;
    border-radius: 73px;
    background: rgba(145, 140, 136, 0.10);
    padding: 19px;
    border: 2px solid transparent;

    input {
        width: 10px;
        outline: none;
        border: none;
        display: inline;
        -moz-appearance: textfield;
        background: transparent;
        color: #484038;
        font-family: 'SF Pro Display';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &::placeholder {
            color: #918C88;
        }


    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    svg {
        width: 16px;
        height: 16px;
        margin-right: 8px;
    }

    p {
        color: #918C88;
        font-family: SF Pro Display;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__rotate {
        svg {
            transform: rotate(90deg) !important;
        }
    }

    &__active {
        border-radius: 73px;
        border: 2px solid var(--0047FF, #0047FF);
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0px 0px 0px 3px rgba(0, 71, 255, 0.15);

        p {
            color: #484038;
        }

        input {
            width: 27px;
        }
    }
}