.ChooseBtn {
    width: 100%;
    max-width: 321px;
    padding: 11px 22px;
    border-radius: 5px;
    border: 1px solid rgb(109, 102, 96, 0.12);

    background: #FFF;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__btn {
        width: 50%;
        color: #484038;
        text-align: center;
        font-family: 'SF Pro Display';
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        z-index: 10;
    }

    &__active {
        color: #FFF;
    }

    &__blue {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--0047FF, #0047FF);
        transition: all .3s ease;
    }

    &__blueactive {
        left: 50%;
    }
}