.main {
  display: flex;

  @media screen and (max-width:650px) {
    flex-direction: column;
  }

  &__Left {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (max-width:650px) {
      display: inline-block;
    }

    &__svg {
      padding: 32px;

      @media screen and (max-width:650px) {
        padding: 0;
        padding-left: 18px;
        padding-top: 20px;
      }
    }

    @media screen and (max-width:650px) {
      height: auto;
    }

    @media screen and (max-width:650px) {
      height: 50vh;
      background-color: rgb(156, 132, 67, .1);
    }


  }

  &__img {
    width: 100%;
    max-width: 430px;
    margin: auto;
    // margin-top: 140px;

    @media screen and (max-width:650px) {
      margin-top: 0;
      margin-bottom: 8px;
    }

    img {
      width: 100%;
      object-fit: contain;
      transition: all .3s ease;
    }
  }

  &__bottom {
    width: 100%;
    border-top: 1px solid #F1ECE9;
    padding: 15px 29px;
    padding-left: 32px;
    gap: 10px;

    &__flex {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    @media screen and (max-width:780px) {
      padding: 15px 5px;
    }

    &__open {
      display: none;
    }

    @media screen and (max-width:650px) {

      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #FFF;
      z-index: 100;
      border-radius: 14px 14px 0px 0px;

      &__open {
        margin: 0 auto;
        background-color: #fff;
        margin-top: -36px;
        width: 122px;
        height: 21px;
        border-radius: 14px 14px 0px 0px;
        border: 1px solid #F1ECE9;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          width: 70px;
          height: 3px;
          border-radius: 50px;
          background-color: #484038;
        }

        &__active {
          background-color: #c4c0bd !important;
        }
      }
    }

    &__wrap {

      display: flex;
      gap: 22px;

      @media screen and (max-width:780px) {
        gap: 14px;
        width: 100%;
      }
    }

    &__logo {
      p {
        color: #484038;
        font-family: SF Pro Display;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      @media screen and (max-width:780px) {
        display: none;
      }

    }

    &__line {
      width: 1px;
      height: 60px;
      background-color: #F1ECE9;
    }

    &__content {
      text-align: end;

      @media screen and (max-width:650px) {
        width: 50%;
      }

    }

    &__price {


      @media screen and (max-width:650px) {
        width: 50%;
      }

    }

    &__title {
      color: #484038;
      font-family: SF Pro Display;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &__text {
      color: #918c88;
      font-family: SF Pro Display;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      margin-top: 4px;
      max-width: 252px;

      @media screen and (max-width:1050px) {
        font-size: 10px;
      }
    }
  }

  &__bottomTrue {
    @media screen and (max-width:650px) {
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;

      .main__bottom__flex {
        display: none;
      }

      .main__bottom__open {
        margin-top: -21px;
      }
    }
  }

  &__right {
    min-width: 420px;
    height: 100vh;
    padding-bottom: 100px;
    overflow-y: scroll;
    position: relative;
    border-left: 1px solid #F1ECE9;

    &::-webkit-scrollbar {
      width: 5px;

    }

    &::-webkit-scrollbar-track {
      background: #ebebeb;
      border-radius: 50px;

    }

    &::-webkit-scrollbar-thumb {
      background: rgb(222, 222, 222);
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(205, 205, 205);
    }

    @media screen and (max-width:1050px) {
      min-width: 375px;
    }

    @media screen and (max-width:650px) {
      height: 50vh;
      border-left: none;
    }

    @media screen and (max-width:375px) {
      min-width: 100% !important;
      width: 100%;
    }

    &__header {
      width: 100%;
      max-width: 409px;
      height: 50px;
      position: fixed;
      top: 0;
      right: 10px;
      padding: 5px 5px 11px 10px;
      border-bottom: 1px solid #e9e8e7;
      background-color: #fff;
      z-index: 10;

      @media screen and (max-width:1050px) {
        max-width: 364px;
        padding: 2px;
      }

      @media screen and (max-width:650px) {
        top: 44.5vh;
        max-width: 100%;
        height: auto;
        border-top: 1px solid #e9e8e7;
        background-color: transparent;
        right: 4px;
        border-bottom: none;
      }

      &__wrap {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 385px;
        border-radius: 5px;
        background: #f7f7f7;
        padding: 2px;
        padding-right: 7px;

        @media screen and (max-width:650px) {
          padding-right: 2px;
          padding-left: 2px;
          background: transparent;
          max-width: 100%;


        }
      }

      &__plus {
        margin-left: auto;
      }

    }

    &__btn {
      color: rgb(72, 64, 56, 0.4);
      text-align: center;
      font-family: SF Pro Display;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 8px 15px;
      border-radius: 3px;
    }

    &__btnActive {
      background: #FFF;
      color: #484038;
    }

    &__top {
      width: 100%;
      max-width: 419px;
      height: 50px;
      background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      position: fixed;
      top: 0;
      right: 0;
      flex-shrink: 0;
      z-index: 10;
    }

    &__bottom {
      width: 100%;
      max-width: 419px;
      height: 50px;
      background: linear-gradient(180deg,
          #fff 0%,
          rgba(255, 255, 255, 0.94) 20.06%,
          rgba(255, 255, 255, 0) 100%);
      position: fixed;
      bottom: 0;
      right: 0;
      flex-shrink: 0;
      z-index: 10;
      transform: rotate(180deg);

    }

    &__title {
      width: 100%;
      max-width: 309px;
      margin: 0 auto;
      margin-top: 77px;
      color: #484038;
      text-align: center;
      font-family: SF Pro Display;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;

      @media screen and (max-width:650px) {
        margin-top: 34px;
      }
    }


  }

  &__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 303px;
    margin: 0 auto;
  }

  &__head {
    color: #484038;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 60px auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 244px;

    @media screen and (max-width:650px) {
      margin: 45px auto;
      margin-bottom: 15px;
    }

  }

  &__textArea {
    display: flex;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D9D8D6;
    background: #F7F7F7;
    width: 100%;
    max-width: 321px;
    margin: 0 auto;
    padding: 10px 14px;
    color: #6D6660;
    font-family: SF Pro Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
  }

  &__dics {
    color: #484038;
    font-family: SF Pro Display;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    max-width: 247px;
    margin: 0 auto;
    text-align: center;

    span {
      font-weight: 600;
    }
  }

  &__sizeInput {
    width: calc((100% - 5px) / 2);
    border: 1px solid transparent;
    border-radius: 73px;
    background: rgba(145, 140, 136, 0.10);
    padding: 14px 25px;
    padding-left: 49px;
    outline: none;
    background-image: url('/arrows-v.svg');
    background-position: 22px center;
    background-repeat: no-repeat;
    background-size: 16px;


    &:focus {
      border: 1px solid #0047FF;
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 0px 0px 0px 2px rgba(0, 71, 255, 0.15);
    }

  }

  &__sizeInputImg {
    background-image: url('/arrows-v1.svg');
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 321px;
    margin: 0 auto;
    padding: 18px 0;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    background: #0047FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__ColorBox {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #262626;

    &:nth-child(2) {
      background: linear-gradient(#502E24, #C49C7B);
    }

    &:nth-child(3) {
      background: linear-gradient(#A2790D, #EBD197);
    }

    &:nth-child(4) {
      background: linear-gradient(#606060, #CBCBCB);
    }

    &:nth-child(5) {
      background: linear-gradient(#D1D1D1, #FFFFFF);
    }
  }
}

.mainCheckValueRight {
  left: calc(50% - 2px) !important;
}